* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
    padding: 0px !important;
}

.first {
    color: rgb(189, 45, 45);
    text-decoration: underline;
}

body {
    background-color: rgb(15, 15, 15);
    font-family: 'Montserrat', sans-serif;
    max-height: 100vh;
    padding: 1em;

}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test-style {
    margin-top: 1em;
    background-color: aliceblue;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
    list-style-type: none;
}

.test-style:focus {
    outline: none;
}



h2 {
    font-size: 25px;
    padding-bottom: 10px;
}

.cross-icon {
    color: rgb(186, 53, 53);
    margin-left: 10px;
}


.char-for-each-text {
    color: gray;

}

#heading-players {
    padding-bottom: 5px;
}


#characters-for-each {
    font-family: "Montserrat";
    border: 1px solid;
    border-color: gray;
    border-radius: 2px;
    padding-left: 3px;
}

#characters-for-each:focus {
    outline: none;
    border: 1px solid;
    border-color: gray;
}

#characters-for-each:hover {
    border: none;
    border: 1px solid;
    border-color: gray;
}


#number-of-rounds {
    font-family: "Montserrat";
    border: 1px solid;
    border-color: gray;
    border-radius: 2px;
    padding-left: 3px;
}

#number-of-rounds:focus {
    outline: none;
    border: 1px solid;
    border-color: gray;
}

#number-of-rounds:hover {
    border: none;
    border: 1px solid;
    border-color: gray;
}




/****************************** GENERATED OUTPUT  ********************************/

.output {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.error-msg {
    padding: 300px;
}

.players-output {
    /* max-width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 30px;
    padding-bottom: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.player0 {
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1; */
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player1 {
    /* grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 1; */
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    /* grid-column: 2;
    grid-row: 1; */
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
}

.map img {
    max-width: 10em;
}

.character-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.character-images img {
    max-width: 10em;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 10px;
}

@media (max-width:1200px) {
    .players-output {
        flex-direction: column;
    }

    .map {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}



/****************************** TOURNAMENT BUTTONS  ********************************/


#tournament-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10em;
    margin-top: 1em;
}

@media (min-width:1115px) {
    #tournament-buttons {
        flex-direction: row;
    }
}

#tournament-text {
    background-color: aliceblue;
    padding-top: 20px;
    text-align: center;
}

.round-button {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    background-color: aliceblue;
    height: 4em;
    width: 8em;
    margin: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.num-of-rounds-text {
    color: gray;
}
